* {
padding:0;
margin:0
}

body,html {
height:100%
}

body {
background-image: linear-gradient(90deg, rgba(4, 68, 132, 1) 0%, rgba(121, 0, 0, 1) 100%);
margin:0 auto;
text-align:center;
width:100%;
font-family:'Roboto Condensed',sans-serif;
color:#fff;
font-weight:300;
line-height:28px;
font-size:19px;
font-weight:700
}

#wrapper {
padding:0 15px;
height:100%;
display:flex
}

.content {
align-self:center;
margin:0 auto
}

.content__btn {
  font-weight: 0; 
  font-size: 16px; 
  color: #ffffff; 
  background: linear-gradient(90deg, #0066CC 0%, #d62828 100%); 
  padding: 10px 47px; 
  border: none; 
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 22px 50px;
  transition : 327ms;
  transform: translateY(0);
}

.content__btn:hover::before {
  transition : 327ms;
  padding: 10px 50px;
  transform : translateY(-0px);
  background: linear-gradient(90deg, #0066CC 0%, #d62828 100%);
  color: #ffffff;
  border: none;
}

.menu-bar {
  position: relative top;
  background-color: #1988f7;
  opacity: 70;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  align-items: flex-start;
}

.item {
  color: white;
  background-color: transparent;
  font-size: 18px;
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 20px;
}

.item.title {
  font-weight: 600;
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
